/* Home Page Design 

  Loader Designs */

.home-page-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hp-loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #244AB2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Page Design */


body {
  margin: 0;
}

button {
  cursor: pointer;
}

.hp-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #E7F8FF;
  margin: 0;
  height: 60px;
  align-items: center;
}

.hp-nav img {
  margin-left: 20px;
  height: 35px;
}

.hp-nav div {
  margin-right: 20px;
}

.hp-nav .nav-fst-btn {
  margin-left: 10px;
  height: 30px;
  border-radius: 5px;
  font-size: 12px;
  width: 75px;
  background: transparent;
  border: 2px solid #244AB2;
  color: #244AB2;
}

.hp-nav .nav-aftr-btn {
  margin-left: 10px;
  height: 35px;
  border-radius: 50%;
  font-size: 20px;
  width: 35px;
  background: #244AB2;
  border: none;
  color: #fff;
}

.nav-aftr-btn p {
  color: #fff;
  font-size: 20px;
}


.first-con {
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.first-con-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.first-con-left h1 {
  font-family: calibri;
  text-align: left;
  font-size: 3.5em;
  margin: 0;
  padding: 0;
  color: #244AB2;
}

.first-con-left button {
  margin-top: 10px;
  margin-right: 10px;
  height: 35px;
  border-radius: 5px;
}

.first-con-fst-btn {
  border: 2px solid #244AB2;
  color: #244AB2;
  background: none;
  width: 120px;
  text-decoration: none;
}



.first-con-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  max-height: 400px;
  width: 40%;
}

.first-con-right img {
  height: 350px;
}

@media (max-width: 700px) {

  .first-con-left {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .first-con-left h1 {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .first-con {
    display: flex;
    flex-direction: column;
  }

  .first-con-left,
  .first-con-right {
    width: 80%;
  }

  .first-con-right {
    margin-top: 50px;
  }
}

@media (max-width: 480px) {

  .hp-nav img {
    height: 60%;
  }

  .first-con {
    margin-top: 100px;
    height: 500px;
  }

  .first-con-left {
    margin: 10px;
    align-items: center;
    width: 80%;
  }

  .first-con h1 {
    font-size: 2rem;
    text-align: center;
  }

  .first-con-left button {
    margin-top: 50px;
  }

  .first-con-right {
    margin-top: 50px;
    width: 80%;
    height: 200px;
  }

  .first-con-right img {
    height: 250px;
  }
}

/* Second Container */

.second-con {
  margin-top: 50px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.second-con-left,
.second-con-right {
  width: 40%;
}

.second-con-left {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-con-left img {
  height: 350px;
}

.second-con-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second-con-right h1 {
  padding: 0;
  margin: 0;
  color: #244AB2;
  font-family: calibri;
  font-size: 2.5em;
}

.second-con-right p {
  font-family: calibri;
  font-size: 1em;
  color: #000;
}

@media (max-width: 800px) {

  .second-con {
    display: flex;
    flex-direction: column;
  }

  .second-con-left,
  .second-con-right {
    width: 80%;
  }

  .second-con-right {
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    order: -1;
  }
}

@media (max-width: 480px) {
  .second-con {
    display: flex;
    flex-direction: column;
  }

  .second-con-left,
  .second-con-right {
    width: 80%;
  }

  .second-con-left {
    height: 200px;
    background-color: #f8faff;
  }

  .second-con-right {
    order: -1;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
  }

  .second-con-right h1 {
    font-size: 2rem;
  }

  .second-con-right p {
    text-align: center;
  }

  .second-con-left img {
    height: 250px;
  }
}

/* End Container */

.end-con {
  margin-top: 50px;
  height: 200px;
  background-color: #244AB2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.end-log-con {
  display: flex;
  align-items: center;
  justify-content: center;
}

.end-con img {
  height: auto;
  max-height: 100%;
}

.end-con div {
  overflow: hidden;
  height: 80%;
  width: 20%;
}

.end-con div label {
  font-size: 1.5em;
  font-family: calibri;
  color: #ffffff;
  border-bottom: 2px solid #ff9900;
}

.end-con div p {
  text-align: center;
  font-family: calibri;
  color: #ffffff;
  font-size: 1.1em;
}

@media (max-width: 480px) {
  .end-con {
    height: auto;
    flex-direction: column;
  }

  .end-con img {
    max-width: 70%;
  }

  .end-con div {
    overflow: hidden;
    height: 20%;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.login-box {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 300px;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.login-box .form-hold {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box .close {
  position: absolute;
  top: 0;
  right: 10px;
  margin: 0;
  font-size: 1.5em;
  color: #244AB2;
  cursor: pointer;
}

.login-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box h2 {
  margin: 20px 0;
  color: #244AB2;
  font-family: calibri;
  font-size: 2em;
  text-align: center;
}

.login-box input {
  background: transparent;
  height: 20px;
  border-radius: 5px;
  border: 2px solid #244AB2;
  margin-top: 10px;
  outline: none;
  width: 100%;
}

.login-box p {
  font-family: calibri;
}

.login-box label {
  text-decoration: underline;
  cursor: pointer;
}

.login-box label:hover {
  color: #244AB2;
}

.login-box button {
  width: 40%;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #244AB2;
  color: #fff;
  height: 25px;
}

/* Signup Form */

.signup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 300px;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: #244AB2;
  padding: 20px;
  padding-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;

}

.signup-box .fomm-hold {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-box .close {
  position: absolute;
  top: 0;
  right: 10px;
  margin: 0;
  font-size: 1.5em;
  cursor: pointer;
}

.signup-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-box h2 {
  margin: 20px 0;
  color: #fff;
  font-family: calibri;
  font-size: 1.8em;
  text-align: center;
}

.signup-box input {
  background: #E7F8FF;
  height: 20px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  margin-top: 10px;
  width: 100%;
  outline: none;
}

.signup-box p {
  font-family: calibri;
  color: #fff;
}

.signup-box label {
  text-decoration: underline;
  cursor: pointer;
}

.signup-box label:hover {
  color: #ffaa00;
}

.signup-box button {
  width: 40%;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #244AB2;
  height: 25px;
}

/* -------------------------------------

 Content Page styles */

.cp-edit-link {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.cp-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #00000023;
}

.menu-icon {
  cursor: pointer;
}

.cp-nav img {
  margin-left: 20px;
  height: 35px;
}

/* .cp-nav button {
  height: 30px;
  width: 75px;
  border: 2px solid #244AB2;
  background: transparent;
  border-radius: 5px;
  color: #244AB2;
} */

.cp-nav .nav-aftr-btn {
  margin-left: 10px;
  height: 35px;
  border-radius: 50%;
  font-size: 20px;
  width: 35px;
  background: #244AB2;
  border: none;
  color: #fff;
}

.user-image-display {
  color: #fff;
  font-size: 20px;
  font-family: calibri;
}

/* Main Page */

.cp-main-con {
  display: flex;
  height: 100vh;
}

.cp-menubar {
  width: 200px;
  height: 100%;
  border-right: 1px solid #00000023;
}

.cp-newpost-btn-hldr {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  border-bottom: 1px solid #00000023;
}

.cp-newpost-btn-hldr button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 120px;
  border: none;
  border-radius: 15px;
  box-shadow: 1px 1px 2.75px rgba(0, 0, 0, 0.4);
  background: #fff;
  color: #244AB2;
  font-size: 14px;
}

.cp-newpost-btn-hldr button:active {
  background-color: #E7F8FF;
}

.cp-newpost-btn-hldr button p {
  padding: 0;
  margin: 0;
  margin-right: 5px;
  font-size: 25px
}

.cp-menustrip {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.cp-menustrip div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  cursor: pointer;
}


.cp-menustrip div:hover {
  background: #00000027;
}

@media (max-width: 480px) {

  .cp-menustrip div:hover {
    background: #fff;
  }
}

.cp-menustrip div label {
  margin-left: 20px;
  font-family: calibri;
  font-size: 1.2em;
  color: #444444;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  margin-right: 20px;
}

.cp-menustrip .active label {
  color: #244AB2;
}

.cp-con-box {
  flex-grow: 1;
  overflow: auto;
}


/* For NoItems  */

.cp-ni {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cp-ni img {
  height: 70px;
}

.cp-ni label {
  font-size: 1.2em;
  font-family: calibri;
  color: #000;
  margin-top: 10px;
}

.cp-ni p {
  font-size: 1em;
  font-family: calibri;
  color: #444444;
}

/* For Items in Post */

.cp-post-hold {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cp-items-post {
  margin-top: 20px;
  width: 95% !important;
  height: 75px;
  border: 1px solid #00000023;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cp-items-post:hover {
  box-shadow: 2px 2px 5px #00000023;
}

.cp-items-post-frnt {
  display: flex;
  flex-direction: row;
}

.cp-ip-head {
  margin: 12.5px;
  height: 50px;
  width: 50px;
  border: 1px solid #00000023;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cp-ip-head h1 {
  margin: 0;
  padding: 0;
  font-family: calibri;
  color: #244AB2;
}

.cp-items-post-frnt p {
  font-size: 1em;
  font-family: calibri;
}

.cp-items-post-dlt {
  margin: 12.5px;
}

.cp-ip-dlt {
  cursor: pointer;
  color: #444444;
}

/* For Themes */

.cp-theme-top-con {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #00000023;
}

.cp-except-myimg {
  height: 175px;
  width: 175px;
  background-color: #E7F8FF;
  margin: 0 20px;
}

.cp-theme-mydet-con {
  height: 175px;
  display: flex;
  flex-direction: column;
}

.cp-theme-mydet-con label {
  font-family: arial;
}

.cp-theme-mydet-con button {
  margin: 20px 0;
  width: 125px;
  height: 35px;
  background: #244AB2;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 2px 0px 5px #00000069;
}

.cp-other-theme-con {
  height: 750px;
  width: 100%;
}

.cp-theme-title {
  display: flex;
  height: 50px;
  align-items: center;
}

.cp-theme-title h2 {
  padding: 0 25px;
  font-family: calibri;
  color: #244AB2;
}

.cp-other-theme-con-fst {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.cp-other-theme-con-fst div {
  height: 325px;
  width: 325px;
  box-shadow: 2px 0px 4px #00000093;
}

.light-theme {
  background-color: #fff;
}

.dark-theme {
  background-color: #555555;
}

.orange-theme {
  background-color: #ffbb7b;
}

.cp-other-theme-con-snd {
  height: 350px;
  width: 66.6666666666%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.cp-other-theme-con-snd div {
  margin: 25px;
  height: 325px;
  width: 325px;
  box-shadow: 2px 0px 4px #00000093;
}

.aqua-theme {
  background-color: #91ffff;
}

.red-theme {
  background-color: #ff7070;
}